h1 {
    margin-top: 30px;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
    background-image: url("../img/patron.png");
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h2.link-a-redes {
    text-align: center;
    margin-top: 0px;
}

h2.link-a-redes a {
    color: #50A2A6;
    font-weight: bold;
    text-decoration: underline;
}

h2.link-a-redes a:hover {
    text-decoration: none;
    color: #366d70;
}

.meta-container {
    width: 60%;
    margin: 0 auto;
}

.youtube-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
  
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

p.detalle {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 34px;
    font-family: "Encode Sans", sans-serif;
    margin-top: 20px;
}

p.center {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-family: "Encode Sans", sans-serif;
    color: #50A2A6;
}

span.texto-oculto {
    display: none;
}

span.mas-chico {
    font-size: 10px;
}

.ver-mas {
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    background-color: transparent;
    font-size: 20px;
    color: white;
    font-family: "Encode Sans", sans-serif;
    background-image: url(../img/outline_boton.png);
    border: 0;
    background-size: cover;
    padding-bottom: 8px;
    color: #50A2A6 !important;
    padding-top: 5px;
}

.ver-mas:hover, .ver-mas:active {
    color: #50A2A6;
}

.a-ver-mas:hover {
    text-decoration: none;
}

section.feeds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    position: relative;
}

section.feeds article.photos {
    width: 40%;
}

section.feeds article.twitter {
    width: 50%;
    border: 1px solid #50A2A6;
    border-radius: 7px;
}

article.twitter {
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

article.twitter::-webkit-scrollbar {
    width: 12px;
}
 
article.twitter::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
article.twitter::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

div.fotos-famosos {
    width: 70%;
    margin: 0 auto;
}

h2.subtitulo {
    font-family: "Encode Sans", sans-serif;
    color: #50A2A6;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

div.follow {
    display: flex;
    justify-content: center;
}

div.comunicado {
    text-align: center;
}

div.comunicado button, div.comunicado button:hover, div.comunicado button:visited, div.comunicado button:focus {
    border: 1px solid #50A2A6;
    color: #50A2A6;
    margin-top: 20px;
}

img.placa-2020 {
    width: 90%;
    margin: 0 auto;
    display: block;
}

div.logosAlianzas img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.logosAlianzas {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   width: 90%;
   margin: 0 auto;
   margin-top: 50px;
}

section.prensa {
    margin-bottom: 60px;
}

div.logosAlianzas div{
    position: relative;
    height: 139px;
}

.w100 {
    width: 100% !important;
}

.w90 {
    width: 90% !important;
}

.w80 {
    width: 80% !important;
}

.w70 {
    width: 70% !important;
}

.w60 {
    width: 60% !important;
}

@media (max-width: 450px) {
    h1 {
        font-size: 28px;
    }

    .meta-container {
        width: 100%;
        margin: 0 auto;
    }

    section.feeds article.photos, section.feeds article.twitter {
        width: 90%;
    }

    div.logosAlianzas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
     }

    section.prensa {
        margin-top: 20px;
    }
}