h1 {
    margin-top: 30px;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
    background-image: url("../img/patron.png");
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 a {
    color: #50A2A6;
    font-weight: bold;
    
}

h1 a:hover {
    color: #50A2A6;
}

p.detalle {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    line-height: 32px;
    font-family: "Encode Sans", sans-serif;
    margin-top: 20px;
}

h1 span {
    color: #50A2A6;
    font-weight: bold;
}

section.infografia {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.infografia div {
    width: 48%;
    margin-bottom: 15px;
    position: relative;
}

section.infografia div img {
    width: 100%;
}

section.infografia div p {
    position: absolute;
    top: 35px;
    font-size: 20px;
    background-color: rgba(66,66,66,0.45);
    padding: 2px 5px;
    color: white;
    font-family: "Encode Sans", sans-serif;
    font-weight: bold;
    max-width: 80%;
}

section.infografia div p.test2 {
    font-size: 30px;
    line-height: 40px;
    padding: 20px;
}

section.infografia div p.test3 {
    font-size: 30px;
    line-height: 40px;
    padding: 20px;
    background-color: transparent;
}

section.infografia div p.test4 {
    font-size: 30px;
    line-height: 40px;
    padding: 20px;
    background-color: transparent;
    color: black;
}

section.infografia div p.test5 {
    font-size: 30px;
    line-height: 40px;
    padding: 20px;
    color: black;
    background-color: rgba(255,255,255,0.45);

}

section.infografia div p.izq {
    left: 40px;
    text-align: left;
}

section.infografia div p.der {
    right: 40px;
    text-align: right;
}

section.infografia div p.test2 {
    font-size: 25px;
    padding: 20px;
}

@media (max-width: 450px) {
    h1 {
        font-size: 28px;
    }

    section.infografia div {
        width: 100%;
        margin-bottom: 15px;
        position: relative;
    }
}