h1 {
    margin-top: 30px;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
    background-image: url("../img/patron.png");
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 a {
    color: #50A2A6;
    font-weight: bold;
    
}

h1 a:hover {
    color: #50A2A6;
}

p.detalle {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    line-height: 32px;
    font-family: "Encode Sans", sans-serif;
    margin-top: 20px;
}

h1 span {
    color: #50A2A6;
    font-weight: bold;
}

section.infografia {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.infografia div {
    width: 48%;
    margin-bottom: 15px;
    position: relative;
}

section.infografia div img {
    width: 100%;
}

section.infografia div p {
    position: absolute;
    top: 50%;
    color: white;
    font-family: "Encode Sans", sans-serif;
    width: 80%;
    font-size: 25px;
    line-height: 33px;
    padding: 20px;
    background-color: transparent;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.infografia div p strong {
    font-size: 1.2em;
}

section.infografia div p span {
    font-size: 0.8em;
}

section.infografia div p a {
    color: white;
    
}


@media (max-width: 450px) {
    h1 {
        font-size: 28px;
    }

    section.infografia div {
        width: 100%;
        margin-bottom: 15px;
        position: relative;
    }

    section.infografia div p { 
        font-size: 21px;
        line-height: 27px;
    }
    
}