.loader {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

a.uk-position-center-left, a.uk-position-center-right {
    background-color: #50A2A6 !important;
    color: white;
    border-radius: 50%;
    font-weight: bold;
}

.uk-navbar-right {
    margin-right: 10px;
}

.uk-navbar-left {
    margin-left: 10px;
}

.uk-navbar-nav li a {
    font-family: "Encode Sans", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1rem;
}

.uk-navbar-nav li a.link-logo {
    justify-content: left;
}

.logo {
    width: 100px;
}

span.by {
    font-size: 15px;
    margin-right: 15px;
    text-transform: none;
    color: #999;
}

.menu-mobile {
    display: none;
}

section.alianzas {
    margin-top: 30px;
    color:  #50A2A6;
    font-family: "Encode Sans", sans-serif;
    padding-top: 10px;
}

section.alianzas p{
    text-align: center;
    font-size: 25px;
}

.slider-aliados li img {
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
}

footer {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

footer .izquierda {
    width: 30%;
    margin-left: 5%;
    text-align: right;
}

footer .izquierda img {
    width: 84px;
}

footer .derecha {
    width: 30%;
    margin-right: 5%;
}

footer .centro {
    width: 30%;
}

footer .derecha img {
    margin-top: 25px;
    width: 210px;
}

footer ul {
    justify-content: center;
}

footer p {
    font-family: "Encode Sans", sans-serif;
    text-align: center;
}

footer ul li a svg {
    color: #50A2A6;
}

.slider-container {
    width: 90%;
    margin: 0 auto;
}

.w100 {
    width: 100% !important;
}

.w90 {
    width: 90% !important;
}

.w80 {
    width: 80% !important;
}

.w70 {
    width: 70% !important;
}

.w60 {
    width: 60% !important;
}

@media (max-width: 450px) {
    .logo {
        width: 100px;
    }
    
    span.by {
        font-size: 20px;
    }

    .menu-escritorio {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    footer .izquierda {
        width: 40%;
        order: 1;
        text-align: center;
    }
    footer .centro {
        width: 100%;
        order: 3;
        margin-top: 20px;
    }

    footer .derecha {
        width: 45%;
        margin-right: 10%;
        text-align: center;
        order: 2;
    }

    footer .derecha img {
        width: 100%;
        margin-top: 25px;
    }

    footer .izquierda img {
        width: 60px;
    }
}