h1, h2.tituloSecundario {
    margin-top: 30px;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
    background-image: url("../img/patron.png");
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 a {
    font-weight: bold;
    color: white;
}

h1 a:hover, h1 a:active {
    color: white;
    text-decoration: none;
}

p.detalle {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    line-height: 32px;
    font-family: "Encode Sans", sans-serif;
}

.ver-mas {
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    background-color: transparent;
    font-size: 20px;
    color: white;
    font-family: "Encode Sans", sans-serif;
    background-image: url(../img/outline_boton.png);
    border: 0;
    background-size: cover;
    padding-bottom: 8px;
    color: #50A2A6 !important;
    padding-top: 5px;
}

.ver-mas:hover, .ver-mas:active, .ver-mas:focus, .ver-mas:visited, .ver-mas:focus-within {
    color: #50A2A6 !important;
}

.a-ver-mas:hover {
    text-decoration: none;
}

div.contenedorPlacas {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

section.datos {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    flex-wrap: wrap;
    background-image: url("../img/fondoPatron.png");
    padding-top: 50px;
    padding-bottom: 33px;    
    background-size: contain;
    margin-bottom: 40px;
}

section.datos article {
    width: 40%;
    position: relative;
}

section.datos article h2 {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: -27px;
    transform: translateX(-50%);
    font-family: "Encode Sans", sans-serif;
    background-color: white;
    color: #50A2A6;
    padding: 10px 14px;
    font-size: 19px;
    font-weight: bold;
}

section.datos article h2:hover {
    color: white;
    background-color: #50A2A6;
    border: 1px solid white;
}

section.datos article ul {
    border: 2px solid white;
}

@media (max-width: 450px) {
    h1 {
        font-size: 21px;
    }

    section.datos {
        background-size: cover;
    }

    section.datos article {
        width: 90%;
    }

    section.datos article:first-child {
        margin-bottom: 65px;
    }

    div.contenedorPlacas {
        width: 80%;
        margin: 0 auto;
    }

    p.detalle {
        font-size: 20px;
        margin-top: 15px;
    }
}