h1 {
    margin-top: 30px;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
    background-image: url("../img/patron.png");
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 span {
    font-weight: bold;
}

h1 a {
    color: #50A2A6;
    font-weight: bold;
    
}

h1 a:hover {
    color: #50A2A6;
}

p.detalle {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    line-height: 34px;
    font-family: "Encode Sans", sans-serif;
    margin-top: 10px;
}

strong.navega {
    color: #50A2A6;
}

section.inicio {
    margin-bottom: 30px;
}

.section-recursos {
    width: 80%;
    margin: 0 auto;
    display: none;
}

.modal-subtitle {
    font-style: italic;
    margin-top: 10px;
}

.boton-descarga {
    margin-left: 10px;
    background-color: #50A2A6;
}

.uk-accordion-title, .uk-accordion-title:hover {
    background-image: url("../img/patron.png");
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: underline;
    font-family: "Encode Sans", sans-serif;
}

.uk-accordion-title:focus, .uk-accordion-title:visited, .uk-accordion-title:active {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.uk-open .uk-accordion-title {
    font-weight: bold;
}

.grilla-recursos button {
    margin-bottom: 10px !important;
    border: #50A2A6 1px solid;
    color: #50A2A6;
    font-family: "Encode Sans", sans-serif;
}

.grilla-recursos button:hover, .grilla-recursos button:focus {
    margin-bottom: 10px !important;
    border: none;
    color: white;
    background-color: #50A2A6;
}

.uk-modal h2, .uk-modal p, .uk-modal button {
    font-family: "Encode Sans", sans-serif;
}

.uk-accordion-title::before
{
    background-color: white;
    border-radius: 50%;
}

.newsletter button {
    margin-bottom: 10px !important;
    border: #50A2A6 1px solid;
    color: #50A2A6;
    font-family: "Encode Sans", sans-serif;
    margin-top: 15px;
}

.newsletter button:hover, .newsletter button:focus {
    margin-bottom: 10px !important;
    border: none;
    color: white;
    background-color: #50A2A6;
}

.newsletter {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 450px) {
    h1 {
        font-size: 28px;
    }
}

