h1 {
    margin-top: 30px;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
    background-image: url("../img/patron.png");
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 span {
    font-weight: bold;
}

h1 a {
    color: #50A2A6;
    font-weight: bold;
    
}

h1 a:hover {
    color: #50A2A6;
}

p.detalle {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    line-height: 34px;
    font-family: "Encode Sans", sans-serif;
    margin-top: 10px;
}

strong.navega {
    color: #50A2A6;
}

section.inicio {
    margin-bottom: 30px;
}

.section-recursos {
    width: 80%;
    margin: 0 auto;
    display: none;
}

.modal-subtitle {
    font-style: italic;
    margin-top: 10px;
}

.boton-descarga {
    margin-left: 10px;
    background-color: #50A2A6;
}

.uk-accordion-title, .uk-accordion-title:hover {
    background-image: url("../img/patron.png");
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: underline;
    font-family: "Encode Sans", sans-serif;
}

.uk-accordion-title:focus, .uk-accordion-title:visited, .uk-accordion-title:active {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.uk-open .uk-accordion-title {
    font-weight: bold;
}

.grilla-recursos button {
    margin-bottom: 10px !important;
    border: #50A2A6 1px solid;
    color: #50A2A6;
    font-family: "Encode Sans", sans-serif;
}

.grilla-recursos button:hover, .grilla-recursos button:focus {
    margin-bottom: 10px !important;
    border: none;
    color: white;
    background-color: #50A2A6;
}

.uk-modal h2, .uk-modal p, .uk-modal button {
    font-family: "Encode Sans", sans-serif;
}

.uk-accordion-title::before
{
    background-color: white;
    border-radius: 50%;
}

.newsletter button {
    margin-bottom: 10px !important;
    border: #50A2A6 1px solid;
    color: #50A2A6;
    font-family: "Encode Sans", sans-serif;
    margin-top: 15px;
}

.newsletter button:hover, .newsletter button:focus {
    margin-bottom: 10px !important;
    border: none;
    color: white;
    background-color: #50A2A6;
}

.newsletter {
    text-align: center;
    margin-top: 20px;
}

.boton-sig, .boton-sig:hover, .boton-sig:focus, .boton-sig:active {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(75%, -50%);
    background-color: #50A2A6;
    color: white;
    padding: 4px 10px;
}

.boton-ant, .boton-ant:hover, .boton-ant:focus, .boton-ant:active {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-75%, -50%);
    background-color: #50A2A6;
    color: white;
    padding: 4px 10px;
}

.botones-cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cerrar-mobile {
    display: none;
}

@media (max-width: 450px) {
    h1 {
        font-size: 28px;
    }

    button.boton-modal {
        width: 100%;
        line-height: 20px;
        padding: 15px 0px;
    }

    div.uk-modal-body {
        width: 85%;
    }

    div.uk-modal-body h2 {
        font-size: 1.5rem;
    }

    .cerrar-mobile {
        display: inline-block;
        padding: 0px 10px;
    }

    .cerrar-desktop {
        display: none;
    }
}

