h1 {
    margin-top: 30px;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
}

h1 a {
    color: #50A2A6;
    font-weight: bold;
    
}

h1 a:hover {
    color: #50A2A6;
}

p.detalle {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    line-height: 32px;
    font-family: "Encode Sans", sans-serif;
}

h1 span {
    color: #50A2A6;
    font-weight: bold;
}

section.inicio {
    margin-bottom: 30px;
}

.section-recursos {
    width: 80%;
    margin: 0 auto;
}

.uk-accordion-title, .uk-accordion-title:hover {
    color: #50A2A6;
    text-decoration: underline;
    font-family: "Encode Sans", sans-serif;
}

.uk-accordion-title:focus {
    color: #50A2A6;
    text-decoration: underline;
    font-weight: bold;
}

.uk-open .uk-accordion-title {
    font-weight: bold;
}

.grilla-recursos button {
    margin-bottom: 10px !important;
    border: #50A2A6 1px solid;
    color: #50A2A6;
    font-family: "Encode Sans", sans-serif;
}

.grilla-recursos button:hover, .grilla-recursos button:focus {
    margin-bottom: 10px !important;
    border: none;
    color: white;
    background-color: #50A2A6;
}

.uk-modal h2, .uk-modal p, .uk-modal button {
    font-family: "Encode Sans", sans-serif;
}

@media (max-width: 450px) {
    h1 {
        font-size: 28px;
    }
}

